{% extends 'base.html.twig' %}

{% block title %}
    Devis
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-4">Demande de devis</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.FirstName, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.LastName, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        {{ form_label(form.service) }}
                        {% for choice in form.service %}
                            <div class="form-check">
                                {{ form_widget(choice, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(choice) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_row(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre message'}}) }}
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
