<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<div style="margin-left: 5rem;">
		<h1 class="text-center">
			<a class="navbar-brand ms-3" href="{{ path('app_home') }}">Eric Pichon</a>
		</h1>
		<p class="text-center">chef de choeur<br>Musicien independant</p>
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>

	</button>

	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_presentation') }}">À propos de moi</a>
			</li>

			{% for rubrique in rubriques %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_service_show', {'id': rubrique.id}) }}">{{ rubrique.name }}</a>
				{% endfor %}


				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Autres informations</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path('app_contact') }}">Contact</a>
						<a class="dropdown-item" href="{{ path('app_devis') }}">Devis</a>
						{% if is_granted('ROLE_USER') %}
							<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
						{% else %}
							<a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
							<a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a>
						{% endif %}
					</div>
				</li>
			</ul>
		</div>
	</li>
</li></ul></div></nav>
